In [25]:
import numpy as np
import pandas as pd

In [26]:
data=pd.read_csv("train.csv")

In [27]:
print("Data size is "+str(data.shape))

Data size is (891, 12)

In [28]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [29]:
if data.PassengerId.nunique() == data.shape[0]:
    print("PassengerId is unique")

PassengerId is unique

In [30]:
if data.isnull().values.any():
    print("Data Cleaning is required")

Data Cleaning is required

In [31]:
for i in data:
    if data[i].isnull().values.any():
        print(i+' - '+str(data[i].isnull().values.sum()))

Age - 177
Cabin - 687
Embarked - 2

In [32]:
#numpy.random.randint(low, high=None, size=None, dtype='l')
ages = np.random.randint(data["Age"].mean()-data["Age"].std(),data["Age"].mean()+data["Age"].std(),data["Age"].isnull().values.sum())
embarked = data["Embarked"].mode()

In [33]:
data['Has_Cabin'] = data["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

In [34]:
data["Age"][np.isnan(data["Age"])]=ages
data["Embarked"].fillna('S', inplace=True)

/Users/harshithbelagur/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
Has_Cabin        0
dtype: int64

In [36]:
data['Port'] = data['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
data['IsAlone'] = 0
data.loc[data['FamilySize'] == 1, 'IsAlone'] = 1

In [37]:
data['Title'] = data.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

In [38]:
data['Title'] = data['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
data['Title'] = data['Title'].replace('Mlle', 'Miss')
data['Title'] = data['Title'].replace('Ms', 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')

In [39]:
data['FamilySizeGroup'] = 'Small'
data.loc[data['FamilySize'] == 1, 'FamilySizeGroup'] = 'Alone'
data.loc[data['FamilySize'] >= 5, 'FamilySizeGroup'] = 'Big'

In [40]:
data['Sex'] = data['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
data["Age"]=(data["Age"]-data["Age"].min())/(data["Age"].max()-data["Age"].min())
data["Fare"]=(data["Fare"]-data["Fare"].min())/(data["Fare"].max()-data["Fare"].min())

In [41]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
family_mapping = {"Small": 0, "Alone": 1, "Big": 2}

data['Title'] = data['Title'].map(title_mapping)
data['FamilySizeGroup'] = data['FamilySizeGroup'].map(family_mapping)

data['Cabin'] = data['Cabin'].fillna('X')
data['Cabin'] = data['Cabin'].apply(lambda x: str(x)[0])
data['Cabin'] = data['Cabin'].replace(['A', 'D', 'E', 'T'], 'M')
data['Cabin'] = data['Cabin'].replace(['B', 'C'], 'H')
data['Cabin'] = data['Cabin'].replace(['F', 'G'], 'L')
data['Cabin'] = data['Cabin'].map({'X': 0, 'L': 1, 'M': 2, 'H': 3}).astype(int)

del data['Name']

del data['SibSp']

del data['Parch']

del data['FamilySize']

del data['Embarked']

del data['Cabin']

del data['Ticket']

del data['Port']

In [42]:
data

,PassengerId,Survived,Pclass,Sex,Age,Fare,Has_Cabin,IsAlone,Title,FamilySizeGroup
0,1,0,3,0,0.271174,0.014151,0,0,1,0
1,2,1,1,1,0.472229,0.139136,1,0,3,0
2,3,1,3,1,0.321438,0.015469,0,1,2,1
3,4,1,1,1,0.434531,0.103644,1,0,3,0
4,5,0,3,0,0.434531,0.015713,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,0.334004,0.025374,0,1,5,1
887,888,1,1,1,0.233476,0.058556,1,1,2,1
888,889,0,3,1,0.396833,0.045771,0,0,2,0
889,890,1,1,0,0.321438,0.058556,1,1,1,1
890,891,0,3,0,0.396833,0.015127,0,1,1,1

In [43]:
print('------------ Finish data cleaning ------------')

------------ Finish data cleaning ------------

In [44]:
data.to_csv("cleaned.csv")

In [45]:
print('------------ Finished writing to file ------------')

------------ Finished writing to file ------------